# Bundler config
.bundle

# Logfiles and tempfiles
/log/*
!/log/.keep
/tmp
!/tmp/.keep

# PID and cache files
/tmp/pids/*
!/tmp/pids/
tmp/cache/*
!/tmp/cache/
tmp/sockets/*
!/tmp/sockets/

# Uploaded files and environment files
/storage/*
!/storage/.keep
.env
.env.*

# Configuration files
/config/master.key
/config/credentials.yml.enc
/config/database.yml
/config/secrets.yml

# Node modules and Yarn
/node_modules
/yarn-error.log
/yarn-debug.log*
.yarn-integrity

# Sprockets cache
/public/assets

# Coverage reports
/coverage/

# Test suite files
/spec/examples.txt
/test/tmp
/test/version_tmp

# Editor-specific files
*~
*.swp
*.swo
*.orig

# macOS-specific files
.DS_Store

# Deployment and Docker
/config/deploy/*
!/config/deploy/.keep
docker-compose.yml
Dockerfile
